.benefits{
    width: 100%;
    height: 200px;
    margin: 30px 0;
}
.benefitsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.benefit{
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefit h1{
    color: rgba(229, 98, 94, 1);
    font-weight: bold;
    font-size: 60px;
}
.benefit span{
    color: rgba(20, 104, 179, 0.9);
    font-weight: bold;
    font-size: 22px;
    width: 230px;
    text-align: center;
}